! Fonts {{{
Xft.antialias: true
Xft.hinting: true
Xft.autohint: false
Xft.rgba: rgb
Xft.hintstyle: hintfull
Xft.dpi: 192
xft.dpi: 192
Xft.lcdfilter: lcddefault
! }}}

!xterm fonts:

xterm*font: xft:Monospace Regular:size=11, xft:Font Awesome:size=11:minspace=False
! xterm*faceName: Monospace Regular
! xterm*faceSize: 11
! xterm*renderFont: true
! xterm*minspace: false

!xterm color scheme:

xterm*termName: xterm-color

xterm*background: #2B2B2B
xterm*foreground: #DEDEDE

xterm*colorUL: #86a2b0

! black
xterm*color0  : #2E3436
xterm*color8  : #555753
! red
xterm*color1  : #CC0000
xterm*color9  : #EF2929
! green
xterm*color2  : #4E9A06
xterm*color10 : #8AE234
! yellow
xterm*color3  : #C4A000
xterm*color11 : #FCE94F
! blue
xterm*color4  : #3465A4
xterm*color12 : #729FCF
! magenta
xterm*color5  : #75507B
xterm*color13 : #AD7FA8
! cyan
xterm*color6  : #06989A
xterm*color14 : #34E2E2
! white
xterm*color7  : #D3D7CF
xterm*color15 : #EEEEEC

!xterm other:

xterm*title   : xterm

!xterm clipboard:
XTerm*selectToClipboard: true
